# Создайте файл .env из копии этого файла и замените значения переменных реальными данными

# API-ключи
API_KEY=your_api_key_here  # Ваш API-ключ для Exchange Rates Data API: https://apilayer.com/exchangerates_data-api